<div class="container">       
    <table class="table table-dark table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Airline Name</th>
          <th>Flight No</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Date of Departure</th>
          <th>Time of Departure</th>
          <th>Date of Arrival</th>
          <th>Time of Arrival</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngIf="flightlist?.length == 0">
              <td colspan="8">
                  Unable to find result!
              </td>
          </tr>
        <tr *ngFor="let flight of flightlist">
          <td>{{flight.airlineName}}</td>
          <td>{{flight.flightNo}}</td>
          <td>{{flight.origin}}</td>
          <td>{{flight.destination}}</td>
          <td>{{flight.timeDeparture | date: "fullDate"}}</td>
          <td>{{flight.timeDeparture | date:"shortTime"}}</td>
          <td>{{flight.timeArrival | date: "fullDate"}}</td>
          <td>{{flight.timeArrival | date: "shortTime"}}</td>
        </tr>
      </tbody>
    </table>
  </div>